{
  "name": "{{ name }}",
  "version": "0.0.1",
  "description": "",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "node ./start"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "coils-controller": "^1.0.4",
    "coils-core": "^1.0.7",
    "coils-env": "^1.0.2",
    "coils-logger": "^1.0.1",
    "coils-model": "^1.0.6",
    "coils-utils": "^1.0.3",
    "moment": "^2.22.2",
    {% if db === 'mysql' %}
    "mysql2": "^1.6.1",
    {% else %}
    "sqlite3": "^4.0.2",
    {% endif %}
    "require-directory": "^2.1.1",
    "winston": "^3.1.0"
  },
  "devDependencies": {
  }
}
